<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ProRunners.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true">
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
      <requiredRuntime version="v4.0.20506" />
    </startup>
    <applicationSettings>
        <ProRunners.Properties.Settings>
            <setting name="VideoFormat" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Synthesizer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VideoQuality" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="bDebug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nSecondsToStart" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="nMinimunRamToStart" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AlliedID2" serializeAs="String">
                <value>DEV_1AB22C00B0C9</value>
            </setting>
            <setting name="AlliedID1" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Camera1" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Camera2" serializeAs="String">
                <value>AlliedVision</value>
            </setting>
            <setting name="Camera1Color" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Camera2Color" serializeAs="String">
                <value>True</value>
            </setting>
        </ProRunners.Properties.Settings>
    </applicationSettings>
</configuration>

